<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav class="nav-bar">
    <ul>
      <li><a href="/pizza-orders">Pizza Orders</a></li>
      <li><a href="/pizza-orders/new">Order a Pizza!</a></li>
    </ul>
  </nav>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
