<p>Your pizza has been succesfully updated!</p>
<p>Your new total is £<%= @order.price * @order.quantity %></p>
<p>Redirecting you to the main page in 5 seconds</p>
<meta http-equiv="refresh" content="5;url=/pizza-orders" />
